<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>A new User has signed-up, <%= @user.username %></h1>
    <p>
      Their email is: <%= @user.email %>.<br/>
    </p>
    <p>
      Their last name is: <%= @user.last_name %>.
    </p>
    <p>Thanks for commenting and have a great day!</p>
  </body>
</html>