<div class="content">
  
	<div class = "row"> <!-- /outer box -->
		<div class = "span16">

<h2>Edit user</h2>

<%= render 'form' %>
<p></p>
<%= render 'passwords' %>

<%= link_to 'All users', users_path %>

			</div> 
